@media (max-width: 1485px) {
	.page3 h1 {
		font-size: 290px;
	}
	.page3Text {
		left: 45%;
	}
}

@media (max-width: 1200px) {
	.page3Text {
		left: 38%;
	}
}
@media (max-width: 1410px) {
	.page5TextLast {
		align-self: flex-start;
	}
	.page4Block {
		margin: 34px 5%;
	}
}

@media (max-width: 1094px) {
	.page1 {
		background-position: center;
	}
	.page2 {
		background-position: center;
	}
	.page3Text {
		left: calc(100% - 520px);
	}
	.page3 h1 {
		font-size: 230px;
	}
}
@media (max-width: 892px) {
	.page4blocked {
		justify-content: center;
	}
	.page3 {
		background: url(../img/rocket-3.png);
		background-size: cover;
	}
	.page3Container {
		background: 0;
	}
	.page3Text {
		margin-left: 100px;
	}
	.page3 h1 {
		font-size: 190px;
		margin-left: -100px;
	}
}
@media (max-width: 545px) {
	.container {
		overflow: hidden;
	}
	.page3 h1 {
		display: none;
	}
	.page3 {
		padding: 10px;
	}
	.page3Text {
		position: static;
		margin-left: 0;
		width: 100%;
		height: 98%;
	}
	.page3Texted {
		width: 100%;
		padding: 0;
		height: 100%;
	}
	.page3Texted p {
		width: 90%;
	}
	.page3Texted h2 {
		margin: 5px 0;
	}
}
@media (max-width: 330px) {
	.page1 {
		background-position: right top;
	}
	.page2 {
		background-position: right;
	}
	.page4 {
		width: 90%;
	}
}
