@media (max-width: 1344px) {
	.container {
		overflow: hidden;
	}
	.page4 {
		width: 60%;
		margin-left: -50px;
	}
	.page4blocked {
		width: 30%;
		margin-left: 500px;
	}
	.page4Block {
		margin-left: 63px;
	}
	.page5 img {
		width: 1200px;
	}
}
@media (max-width: 1372px) {
	.page4 {
		width: 90%;
		margin-left: -50px;
	}
	.page5 img {
		width: 1400px;
	}
}
@media (max-width: 1248px) {
	.container {
		overflow: hidden;
	}
	.page4 {
		width: 1000px;
	}
	.page4blocked {
		width: 30%;
		margin-left: 500px;
	}
	.page4Block {
		margin-left: 23px;
	}
	.page4Text {
		font-size: 10px;
	}
	.page5 img {
		width: 1200px;
	}
}
@media (max-width: 1024px) {
	.container {
		font-size: 12px;
	}
	.page1 {
		width: 40%;
	}
	.page2 {
		width: 40%;
	}
	.page3 {
		width: 40%;
	}
	.page4 {
		width: 40%;
	}
	.page5 {
		width: 40%;
	}
	.footer {
		width: 40%;
	}
}
@media (max-width: 768px) {
	.container {
		margin: 0 auto;
		overflow: hidden;
	}
	.page1 {
		height: auto;
		width: auto;
	}
	.pageOneText {
	}
	.navmenu {
		justify-content: space-around;
		align-items: flex-start;
		margin-left: 0;
		font-size: 10px;
	}
	.page2 {
		display: flex;
		width: auto;
		background-image: url(../img/rocket-2.png);
	}
	.textPage2 {
		margin-left: 40px;
	}
	.page3 {
		display: flex;
		justify-content: center;
		background-image: url(https://github.com/wolfik1712/Space-Neo/blob/main/img/rocket-3.png?raw=true);
		height: 400px;
		margin: 0 auto;
	}
	.page3 h1 {
		padding-top: 950px;
		font-size: 570px;
		margin-left: -5500px;
		z-index: 1;
		opacity: 0.4;
	}
	.pimg {
		width: 100%;
	}
	.page3Texted {
		display: flex;
		width: 300px;
		height: 400px;
		margin-left: -1250px;
		margin-top: 1000px;
		z-index: 2;
		background: rgba(25, 65, 106, 0.5);
		backdrop-filter: blur(44px);
		background-size: auto;
	}
	.page3Texted p{
		font-size: 18px;
	}
	.page3Texted h2 {
		font-size: 48px;
		margin-top: -40px;
	}
	.page3Texted p {
		font-size: 10px;
	}
	.page4 {
		display: flex;
		justify-content: center;
		width: auto;
	}
	.page4blocked {
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
		padding-right: 30px;
		margin-left: 0;
	}
	.page4Block {
		width: 720px;
	}
	.page4Block p{
		font-size: 18px;
	}
	.page4Block img {
		width: 720px;
	}
	.buttonPage4 button {
		display: flex;
		margin-top: 2000px;
		margin-left: -400px;
	}
	.page5 {
		margin-top: 50px;
		height: auto;
	}
	.page5 img {
		width: 980px;
	}
	.footer {
		display: flex;
		justify-content: center;
	}
}
@media (max-width: 1085px) {
	.container {
		overflow: hidden;
	}
	.page3 h1 {
		margin-left: -150px;
	}
	.page3Text {
		margin-left: 460px;
	}
	.page4 {
		width: 10%;
		margin-left: 0px;
	}
	.page4 img {
		width: 340px;
	}
	.page4blocked {
		width: 200px;
		margin-left: 420px;
	}
	.page4Block {
		margin-left: 10px;
	}
	.page4Block h2 {
		font-size: 16px;
	}
	.page5 img {
		width: 1100px;
	}
}
@media (max-width: 1085px) {
	.container {
		overflow: hidden;
	}
	.page3 h1 {
		margin-left: -150px;
	}
	.page3Text {
		margin-left: 460px;
	}
	.page4 {
		width: 10%;
		margin-left: 0px;
	}
	.page4 img {
		width: 340px;
	}
	.page4blocked {
		width: 200px;
		margin-left: 420px;
	}
	.page4Block {
		margin-left: 10px;
	}
	.page4Block h2 {
		font-size: 16px;
	}
	.page5 img {
		width: 1100px;
	}
}

@media (max-width: 900px) {
	.container {
		overflow: hidden;
	}
	.page1 {
		width: auto;
	}
	.page2 {
		width: auto;
	}
	.page3 {
		width: auto;
	}
	.page3 h1 {
		margin-left: -140px;
		font-size: 350px;
	}
	.page3Text {
		margin-left: 350px;
	}
	.page4 {
		width: 10%;
		margin-left: 0px;
	}
	.page4 img {
		width: 340px;
	}
	.page4blocked {
		display: flex;
		flex-wrap: wrap;
	}
	.page4Block {
		display: flex;
		width: 1800px;
	}
	.page4Text h2 {
		font-size: 50px;
	}
	.page4Block h2 {
		font-size: 16px;
	}
	.page5 img {
		width: 1100px;
	}
}
@media (max-width: 1000px) {
	.container {
		overflow: hidden;
	}
	.page1 {
		width: auto;
	}
	.page2 {
		width: auto;
	}
	.page3 {
		width: auto;
	}
	.page3 h1 {
		margin-left: -140px;
		font-size: 350px;
	}
	.page3Text {
		margin-left: 350px;
	}
	.page4 {
		width: auto;
		margin-left: 0px;
	}
	.page4 img {
		width: 340px;
	}
	.page4blocked {
		display: flex;
		padding-left: -50px;
	}
	.page4Block {
		display: flex;
		width: 1800px;
	}
	.page4Text h2 {
		font-size: 50px;
	}
	.page4Block h2 {
		font-size: 16px;
	}
	.page5 img {
		width: 1100px;
	}
}
@media (max-width: 600px) {
	.container {
		max-width: none;
	}
}
@media (max-width: 320px) {
	.container {
		max-width: none;
	}
}

@media (max-width: 1050px) {
	.container {
		overflow: hidden;
	}
	.page1 {
		width: auto;
	}
	.page2 {
		width: auto;
	}
	.page3 {
		width: auto;
	}
	.page3 h1 {
		margin-left: -140px;
		font-size: 350px;
	}
	.page3Text {
		margin-left: 350px;
	}
	.page4 {
		width: 10%;
		margin-left: 0px;
	}
	.page4 img {
		width: 300px;
	}
	.page4blocked {
		display: flex;
	}
	.page4Block {
		display: flex;
		width: 1800px;
	}
	.page4Text h2 {
		font-size: 50px;
	}
	.page4Block h2 {
		font-size: 16px;
	}
	.page5 {
		width: auto;
	}
	.page5 img {
		width: 1050px;
	}
	.footer {
		width: auto;
	}
}
@media (min-width: 1500px) {
	.container {
		overflow: hidden;
	}
	.page1 {
		background-image: url(../img/rocket-1@2x.png);
		background-size: cover;
	}
	.page2 {
		background-image: url(../img/rocket-2@2x.png);
		background-size: cover;
	}	
	.page4 {
		width: auto;
	}
	.page4blocked {
		margin: 50px;
		margin-left: -50px;
	}
.page4Block {
	width: 100%;
}
	.page5 {
		width: auto	;
	}
	.page5 img {
		width: auto;
	}
	.page5text h4{
		font-size: 50px;
	}
	.page5text p{
		font-size: 24px;
		margin-bottom: 10px;
	}
	.page5main h2{
		font-size: 80px;
	}
	@media (max-width: 600px) {
		.container {