@media (max-width: 1485px) {
	.page3 h1 {
		font-size: 290px;
	}
	.page3Text {
		left: 45%;
	}
}

@media (max-width: 1200px) {
	.page3Text {
		left: 38%;
	}
}
@media (max-width: 1410px) {
	.page5TextLast {
		align-self: flex-start;
	}
	.page4Block {
		margin: 34px 5%;
	}
}

@media (max-width: 1094px) {
	.page1 {
		background-position: center;
	}
	.page2 {
		background-position: center;
	}
	.page3Text {
		left: calc(100% - 520px);
	}
	.page3 h1 {
		font-size: 230px;
	}
}
@media (max-width: 892px) {
	.page4blocked {
		justify-content: center;
	}
	.page3 {
		padding: 20px;
	}
	.page3Container {
		background-image: url(../img/rocket-3.png);
		background-size: cover;
		width: auto;
	}
	.page3Text {
		width: 500px;
	}
	.page3 h1 {
		font-size: 169px;
	}
	.page3Texted span {
		font-size: 18px;
		max-width: 300px;
	}
}
@media (max-width: 485px) {
	.page3 {
		overflow: hidden;
		display: flex;
		background-image: url(..//img/rocket-3.png);
		background-position: cover;
		margin-bottom: -140px;
	}
	.page3Container {
		background: none;
	}
	.page3Container h1 {
		font-size: 160px;
		width: 100%;
	}
	.page3Text {
		display: flex;
		margin-top: -100px;
		width: 100%;
	}
	.page4Block {
		width: 100%;
	}
}
@media (max-width: 356px) {
	.container {
		overflow: hidden;
	}
	.page1 {
		background-position-x: -800px;
	}
	.page2 {
		background-position-x: -950px;
	}
	.textPage2 {
		margin-left: -50px;
		margin-top: -50px;
	}
	.page4 {
		padding-left: 20px;
		margin-top: 200px;
	}
	.page4blocked {
		margin-left: -20px;
		width: 90%;
	}
	.buttonPage4 {
		margin-left: -20px;
	}
	.footer {
		flex-direction: column;
	}
	.footer a {
		padding-left: 20px;
	}
	.footerNav {
		display: flex;
		flex-direction: column;
	}
	.footerNav span {
		padding-left: 20px;
	}
}
