@font-face {
	font-family: "Open Sans Condensed";
	font-weight: bold;
	src: url(../fonts/OpenSansCondensed-Bold.ttf);
}
@font-face {
	font-family: "Open Sans Condensed";
	font-weight: normal;
	src: url(../fonts/OpenSansCondensed-Light.ttf);
}
@font-face {
	font-family: "Open Sans";
	font-weight: normal;
	src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family: "Open Sans";
	font-weight: 600;
	src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
	font-family: "Anton";
	font-weight: normal;
	src: url(../fonts/Anton-Regular.ttf);
}
