body {
	margin: 0;
	padding: 0;
}
body button:hover {
	border: 4px solid blue;
}
.container {
}
.page1 {
	background-image: url(../img/rocket-1.png);
	background-size: cover;
	padding-top: 20px;
	overflow: hidden;
}
.nav {
	display: flex;
	height: 62px;
	justify-content: space-between;
	align-items: center;
	padding-right: 60px;
	background: rgba(255, 255, 255, 0.01);
	backdrop-filter: blur(60px);
}
.nav img {
	padding-left: 60px;
}
.navmenu a {
	display: inline-flex;
	padding-left: 40px;
	align-items: space-around;
	text-decoration: none;
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.1em;

	color: #ffffff;
}
.pageOneText {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	padding: 0;
	padding-left: 5%;
	padding-bottom: 345px;
}
.pageOneText h1 {
	margin: -10px;
	padding-top: 300px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 87px;
	letter-spacing: 0.1em;
	color: #ffffff;
}
.pageOneText h2 {
	margin: -10px;
	font-family: Anton;
	font-style: normal;
	font-weight: normal;
	font-size: 92px;
	line-height: 135px;
	/* identical to box height */

	letter-spacing: -0.01em;

	color: #ffffff;
}
.pageOneText h3 {
	margin-left: -8px;
	padding-top: 20px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	/* identical to box height */

	letter-spacing: 0.1em;
	text-decoration-line: underline;

	color: #ffffff;
}
.pageOneText button {
	margin-left: -8px;
	margin-top: 50px;
	width: 290px;
	height: 77px;
	background: transparent;
	border: 4px solid #ffffff;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.1em;
	color: #ffffff;
}
.buttontype {
	text-decoration: none;
	color: white;
}
